requests~=2.32.3
PyYAML~=6.0.2
setuptools~=68.2.0
PyMySQL~=1.1.1
pandas~=2.2.3
folium~=0.18.0
haversine~=2.8.1
seaborn~=0.13.2
matplotlib~=3.9.2
scipy~=1.14.1
scikit-learn~=1.5.2
fynesse~=0.1.0
python-dotenv~=1.0.1
branca~=0.8.0